    .article__item {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: block;
        object-fit: cover;
        height: 282px;
        width: 100%;
        cursor: pointer;
        border: none;
        aspect-ratio: 1/1;
    }