.article__icon {
    padding: 0;
    margin-bottom: 3px;
    height: 19px;
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-color: #fff;
    position: relativ;
    align-items: center;
    width: 22px;
    color: #000;
    border: none;
    margin-right: 19px;
    cursor: pointer;
}

.article__icon:hover {
    opacity: 0.5;
}