 /* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */
@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__overlay/profile__overlay.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__header/profile__header.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-butoon/profile__edit-butoon.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-butoon/profile__add-button.css);
@import url(./blocks/elements/__cards/elements__cards.css);
@import url(./blocks/article/article.css);
@import url(./blocks/article/__item/article__item.css);
@import url(./blocks/article/__content/article__content.css);
@import url(./blocks/article/__title/article__title.css);
@import url(./blocks/article/__like-content/article__like-content.css);
@import url(./blocks/article/__icon/article__icon.css);
@import url(./blocks/article/__icon/article__icon-number.css);
@import url(./blocks/article/__like-active/article__like-active.css);
@import url(./blocks/article/__delete/article__delete.css);
@import url(./blocks/article/__delete/_hidden/article__delete_hidden.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/popup__container-image.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/popup__title-image.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__title/popup__title-image.css);
@import url(./blocks/error/error.css);
@import url(./blocks/popup/__input/_type_error/popup__imput_type_error.css);
@import url(./blocks/error/_active/error_active.css);